{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block homeactive %} active {% endblock %}

{% block body %}
<div class="container my-3">
<div class="jumbotron">
  <h1 class="display-4">Welcome to PrabhatTech !</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
</div>
</div>
<div class="container">
<div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" width="200px" src="https://3.bp.blogspot.com/-VBwU9SiQ-H0/W_2PoI_3g8I/AAAAAAAACuo/0QanHBgRjQQPRMy9sAGJNKjNJ7PoEe3ZwCK4BGAYYCw/s1600/Edit%2B%25283%2529.png" alt="" width="72" height="72">
    <h2>Checkout our popular blog posts </h2>
    {% for post in allPosts %}
    <div class="row mb-2 my-5">
    <div class="col-md-6">
    
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">{{post.timestamp}}</div>
          <p class="card-text mb-auto">{{post.content | truncatechars:180}}</p>
          <a href="/blog/{{post.slug}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
      </div> 
       {% endfor %} 
    </div>
  
  </div>
    

</div>
<div class="container">
<h2>This is Heading </h2>
<p>This is paragraph</p>
<button class="btn btn-primary">Read More</button>
</div>

{% endblock body %}